body{
    font-family: 'Anton', sans-serif;
    /* background-image: url('./loginpage.jpg'); */
    background-size: cover; 
    background-color: white;
}
.main-body{
    display: flex;
    width: 500px;
    height: 305px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    border-radius: 20px;
    background-color:white;
    filter: opacity(0.9);
    box-shadow: 2px 2px;
}
h2{
    color:black;
    text-decoration: underline;
}
/* .main-body:hover{
    width: 520px;
    height: 440px;
} */
/* h1{
    color: black;
    background-color: rgb(76, 71, 71); */
    /* width: 98%;
    background-color: white;
    border-radius: 3px;
    height: 65px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: inherit;
    margin-bottom: 20px !important; */
/* } */
form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
   
}
.email 
{
    display: flex;
    flex-direction: column;
}
/* .email label{
    width: 125px;
    height: 17px;
} */
.email input{
    width: 300px;
    height: 33px;
    text-align: center;
    margin:10px;
    /* border: 3px solid black; */
}
.email input:hover{
    width: 320px;
    height: 35px;
}
.pass{
   display: flex;
}
.pass input{
    width: 300px;
    height: 33px;
    text-align: center;
    margin:10px;
}
.pass input:hover{
    width: 320px;
    height: 35px;
}
.btn-1{
    margin: 10px !important;
    background-color: #c54c5c;
    height: 39px;
    width: 110px;
    border-radius: 3px;
}
.btn-1:hover{
    width: 120px;
    height: 42px;
}
.btn-2{
    margin: 10px;
    background-color: #c54c5c;
    height: 39px;
    width: 312px;
    border-radius: 3px;
}
.btn-2:hover{
    width: 318px;
    height: 42px;
}