nav{
    display: flex;
    justify-content: space-between;
    min-width: 19vh;
    background-color: black;
    color: aliceblue;
   padding-left: 10px;
    height: 4rem;
}

.navlinks{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    
    list-style: none;
}

.navlinks li {
    padding-top: 2rem;
    padding-left: 10px;
}
