body
{
    background-image:url('/background_picture_for_shoppiebuzz.jpg');
    left: 50%;
    width:100%;
}
.upper_part
{
    color: red;
    font-size: 5em;
    z-index: 500;
    position: centre;
    height:300;   
}